@page "/balancesheet"

<h3>Balance Sheet</h3>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Assets</td><td>@balanceSheet.Assets</td></tr>
        <tr><td>Liabilities</td><td>@balanceSheet.Liabilities</td></tr>
        <tr><td>Equity</td><td>@balanceSheet.Equity</td></tr>
    </tbody>
</table>
