@page "/pnlreport"

<h3>Profit & Loss Report</h3>

<table class="table">
    <thead>
        <tr>
            <th>Revenue</th>
            <th>Expenses</th>
            <th>Net Profit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@pnl.Revenue</td>
            <td>@pnl.Expenses</td>
            <td>@pnl.NetProfit</td>
        </tr>
    </tbody>
</table>
