@page "/hrinfo"

<div class="container">
    <h2>HR Information and Policies</h2>

    <ul>
        <li><a href="#">Company Handbook</a></li>
        <li><a href="#">Employee Benefits Summary</a></li>
        <li><a href="#">Code of Conduct</a></li>
        <li><a href="#">Leave Policy</a></li>
    </ul>

    <p>Contact HR Department for any questions about policies</p>
</div>