@page "/events"
@using CentralServer.Data
@using Services
@inject DataService DataService
<h3>System Events</h3>

<EventForm OnCreate="AddEvent" />

<div style="max-height: 300px; overflow-y: auto;">
    <EventFeed Events="@eventEntries" />
</div>

@code {
    private List<EventEntry> eventEntries = new();

    protected override void OnInitialized()
    {
        eventEntries = DataService.GetEventMessages();
        DataService.EventMessageOnChange += StateHasChanged;
        
        
    }

    private void AddEvent(EventEntry evt)
    {
        DataService.AddEventMessage(evt);
    }
}
