@page "/logging"
@using CentralServer.Data
@using Services
@inject DataService  DataService
<h3>Logging Dashboard</h3>

<div style="max-height: 400px; overflow-y: auto;">
    <LogTable Logs="@logEntries" />
</div>

    @code {
        private List<LogEntry> logEntries = new();

        protected override Task OnInitializedAsync()
        {
            if(DataService.GetLogMessages().Count == 0)
            {
                DataService.AddLogMessage(new LogEntry { Timestamp = DateTime.Now, Source = "Finance", Destination = "CentralServer", Type = "SignalR", Status = "Success" });
                DataService.AddLogMessage(new LogEntry { Timestamp = DateTime.Now.AddMinutes(-5), Source = "HR", Destination = "Finance", Type = "API", Status = "Failed" });

            }

            logEntries = DataService.GetLogMessages();
            return base.OnInitializedAsync();
        }
}
