@page "/registration"
@using CentralServer.Data

@using Services
@inject DataService DataService

<h3>Department Registration</h3>

<DepartmentForm OnRegister="HandleRegister" />

<div style="max-height: 400px; overflow-y: auto;">
    <DepartmentList Departments="@departments" />
</div>

@code {
    private List<Department> departments
    {
        get
        {
            return DataService.GetDepartmentsLog();
        }
    }

    private void HandleRegister(Department dept)
    {
        DataService.AddDepartmentLog(dept);
        StateHasChanged();
    }
}
